## classification_exercises.ipynb

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
from pydataset import data
df_iris = data('iris')

4a. print the first 3 rows

In [3]:
print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
lowe_case

NameError: name 'lowe_case' is not defined

4b. print the number of rows and columns (shape)

In [ ]:
print(df_iris.shape)

4c. print the column names

In [ ]:
print(df_iris.columns)

4d. print the data type of each column

In [ ]:
print(df_iris.info())

4e. print the summary statistics for each of the numeric variables

In [ ]:
print(df_iris.describe())

### 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

5a. Make sure that the spreadsheet is publicly visible under your sharing settings.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1EXBrnnTX08u3BApUsz9RZRSzfpirMAbauCh9YfVBVRE/edit#gid=1023018493'

sheet_url = 'https://docs.google.com/spreadsheets/d/1EXBrnnTX08u3BApUsz9RZRSzfpirMAbauCh9YfVBVRE/export?format=csv#gid=1023018493'

In [ ]:
df_google_sheets = pd.read_csv(sheet_url)
df_google_sheets.head()

5b. assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_google_sheets_sample = df.head(100)

5c. print the number of rows of your original dataframe

In [ ]:
df_google_sheets.shape

In [ ]:
print(len(df_google_sheets.index))

5d. print the first 5 column names

In [ ]:
print(df_google_sheets.iloc[:0 , :5])

5e. print the column names that have a data type of object

In [ ]:
df_google_sheets.select_dtypes(include=['object']).columns

5f. compute the range for each of the numeric variables.

In [ ]:
df_google_sheets.select_dtypes('number')

In [ ]:
df_google_sheets.select_dtypes(include=['int64', 'float64']).max()- df_google_sheets.select_dtypes(include=['int64', 'float64']).min()


df_google_sheets.select_dtypes(include=['int64', 'float64']).apply(lambda column: column.max()-column.min())

### 6. Download your spreadsheet exercises google sheet as an excel file 
### - (File → Download → Microsoft Excel). 
### - Read the Table1_CustDetails worksheet into a dataframe
### - named df_excel.

In [ ]:
# df = pd.read_excel('sample.xlsx')

# print(df)

In [ ]:
df_excel = pd.read_excel('telco.xlsx')
df_excel.head()

6a. assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head()

6b. print the number of rows of your original dataframe

In [ ]:
df_excel.shape

In [ ]:
print(len(df_excel.index))

6c. print the first 5 column names

In [ ]:
print(df_excel.iloc[ :0 , :5])

6d. print the column names that have a data type of object

In [ ]:
print(df_excel.select_dtypes(include= ['object']).columns)

ß6e. compute the range for each of the numeric variables.

In [ ]:
df_excel.select_dtypes(include=['int64', 'float64']).apply(lambda column: column.max()-column.min())

### 7. Read the data from this google sheet into a dataframe, df_google.

In [ ]:
# df = pd.read_excel('sample.xlsx')

# print(df)

df_google = pd.read_excel('train.xlsx')
df_google.head()

7a. print the first 3 rows

In [ ]:
df_google.head(3)

7b. print the number of rows and columns

In [ ]:
df_google.shape

7c. print the column names

In [ ]:
df_google.columns

7d. print the data type of each column

In [ ]:
df_google.info()

7e. print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe()

7f. print the unique values for each of your categorical variables

In [ ]:
df_google.select_dtypes('object').apply(lambda col: col.unique().tolist())

Make a new python module, acquire.py to hold the following data aquisition functions:

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

3. Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

4. Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

Make sure your env.py and csv files are not being pushed to GitHub!

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

### Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [7]:
import pandas as pd
import env 
import os
import acquire

from sklearn.model_selection import train_test_split
# imputer from sklearn
from sklearn.impute import SimpleImputer

# filter out warnings
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = acquire.get_iris_data()

Reading from csv file...

In [11]:
df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   species_id      150 non-null    int64
 1   measurement_id  150 non-null    int64
 2   sepal_length    150 non-null    float64
 3   sepal_width     150 non-null    float64
 4   petal_length    150 non-null    float64
 5   petal_width     150 non-null    float64
 6   species_name    150 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.3+ KB

In [14]:
df.describe()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,2.000000,75.500000,5.843333,3.057333,3.758000,1.199333
std,0.819232,43.445368,0.828066,0.435866,1.765298,0.762238
min,1.000000,1.000000,4.300000,2.000000,1.000000,0.100000
25%,1.000000,38.250000,5.100000,2.800000,1.600000,0.300000
50%,2.000000,75.500000,5.800000,3.000000,4.350000,1.300000
75%,3.000000,112.750000,6.400000,3.300000,5.100000,1.800000
max,3.000000,150.000000,7.900000,4.400000,6.900000,2.500000

2. Drop the species_id and measurement_id columns.

In [15]:
columns_to_drop = ['species_id', 'measurement_id']
df = df.drop(columns = columns_to_drop)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

3. Rename the species_name column to just species.

In [18]:
df = df.rename(columns={'species_name' : 'species'})
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

4. Create dummy variables of the species name and concatenate onto the iris dataframe. 
(This is for practice, we don't always have to encode the target, 
but if we used species as a feature, we would need to encode it).

In [24]:
dummy_df = pd.get_dummies(df[['species']],
                         dummy_na=False,
                         drop_first = [True])

dummy_df

     species_versicolor  species_virginica
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0
5                     0                  0
6                     0                  0
7                     0                  0
8                     0                  0
9                     0                  0
10                    0                  0
11                    0                  0
12                    0                  0
13                    0                  0
14                    0                  0
15                    0                  0
16                    0                  0
17                    0                  0
18                    0                  0
19                    0                  0
20                    0                  0
21                    0                  0
22                    0                  0
23                    0                  0
24                    0                  0
25                    0                  0
26                    0                  0
27                    0                  0
28                    0                  0
29                    0                  0
30                    0                  0
31                    0                  0
32                    0                  0
33                    0                  0
34                    0                  0
35                    0                  0
36                    0                  0
37                    0                  0
38                    0                  0
39                    0                  0
40                    0                  0
41                    0                  0
42                    0                  0
43                    0                  0
44                    0                  0
45                    0                  0
46                    0                  0
47                    0                  0
48                    0                  0
49                    0                  0
50                    1                  0
51                    1                  0
52                    1                  0
53                    1                  0
54                    1                  0
55                    1                  0
56                    1                  0
57                    1                  0
58                    1                  0
59                    1                  0
60                    1                  0
61                    1                  0
62                    1                  0
63                    1                  0
64                    1                  0
65                    1                  0
66                    1                  0
67                    1                  0
68                    1                  0
69                    1                  0
70                    1                  0
71                    1                  0
72                    1                  0
73                    1                  0
74                    1                  0
75                    1                  0
76                    1                  0
77                    1                  0
78                    1                  0
79                    1                  0
80                    1                  0
81                    1                  0
82                    1                  0
83                    1                  0
84                    1                  0
85                    1                  0
86                    1                  0
87                    1                  0
88                    1                  0
89                    1                  0
90                    1                  0
91                    1                  0
92                    1                  0
93                    1                  0
94                    1                  0
95                    1                  0
96                    1                  0
97                    1                  0
98                    1                  0
99                    1                  0
100                   0                  1
101                   0                  1
102                   0                  1
103                   0                  1
104                   0                  1
105                   0                  1
106                   0                  1
107                   0                  1
108                   0                  1
109                   0                  1
110                   0                  1
111                   0                  1
112                   0                  1
113                   0                  1
114                   0                  1
115                   0                  1
116                   0                  1
117                   0                  1
118                   0                  1
119                   0                  1
120                   0                  1
121                   0                  1
122                   0                  1
123                   0                  1
124                   0                  1
125                   0                  1
126                   0                  1
127                   0                  1
128                   0                  1
129                   0                  1
130                   0                  1
131                   0                  1
132                   0                  1
133                   0                  1
134                   0                  1
135                   0                  1
136                   0                  1
137                   0                  1
138                   0                  1
139                   0                  1
140                   0                  1
141                   0                  1
142                   0                  1
143                   0                  1
144                   0                  1
145                   0                  1
146                   0                  1
147                   0                  1
148                   0                  1
149                   0                  1

In [25]:
df = pd.concat([df, dummy_df], axis=1)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [29]:
def prep_iris(df):
    
        df = acquire.get_iris_data()
        
        columns_to_drop = ['species_id', 'measurement_id']
        
        df = df.drop(columns = columns_to_drop)

        df = df.rename(columns={'species_name' : 'species'})

        dummy_df = pd.get_dummies(df[['species']],
                                 dummy_na=False,
                                 drop_first = [True])
        df = pd.concat([df, dummy_df], axis=1)
        
        return df

In [30]:
prep_iris(df)

Reading from csv file...

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

### Using the Titanic dataset
1. Use the function defined in acquire.py to load the Titanic data.

In [33]:
df = acquire.get_titanic_data()

Reading from csv file...

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [41]:
df.drop_duplicates(inplace=True)
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [43]:
df.shape

(891, 13)

In [44]:
df.columns

Index(['passenger_id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

In [45]:
columns_to_drop = ['deck', 'age', 'embarked', 'class', 'passenger_id']

In [46]:
df = df.drop(columns = columns_to_drop)
df.head()

   survived  pclass     sex  sibsp  parch     fare  embark_town  alone
0         0       3    male      1      0   7.2500  Southampton      0
1         1       1  female      1      0  71.2833    Cherbourg      0
2         1       3  female      0      0   7.9250  Southampton      1
3         1       1  female      1      0  53.1000  Southampton      0
4         0       3    male      0      0   8.0500  Southampton      1

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [47]:
dummy_df = pd.get_dummies(df[['sex', 'embark_town']],
                         dummy_na=False,
                         drop_first = [True, True])

In [49]:
dummy_df

     sex_male  embark_town_Queenstown  embark_town_Southampton
0           1                       0                        1
1           0                       0                        0
2           0                       0                        1
3           0                       0                        1
4           1                       0                        1
..        ...                     ...                      ...
886         1                       0                        1
887         0                       0                        1
888         0                       0                        1
889         1                       0                        0
890         1                       1                        0

[891 rows x 3 columns]

In [50]:
df = pd.concat([df, dummy_df], axis=1)
df.head()

,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    df = acquire.get_titanic_data()
    
    df.drop_duplicates(inplace=True)
    
    columns_to_drop = ['deck', 'age', 'embarked', 'class', 'passenger_id']
    
    df = df.drop(columns = columns_to_drop)
    
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']],
                         dummy_na=False,
                         drop_first = [True, True])
    
    df = pd.concat([df, dummy_df], axis=1)
    
    return df

Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

In [ ]:
def get_telco_data(use_cache=True):
    filename = 'telco_churn.csv'
    
    if os.path.exists(filename):
        print('Reading from csv file...')
        return pd.read_csv(filename)
    
    
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/telco_churn'
    query = '''
    SELECT * 
        FROM customers
        JOIN contract_types 
        USING (contract_type_id)
        JOIN internet_service_types
        USING (internet_service_type_id)
        JOIN payment_types AS pt
        USING (payment_type_id)

        
    '''

    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, url)
    print('Saving to csv...')
    df.to_csv(filename, index=False)
    return df

In [ ]:
get_telco_data()

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.